#game-area {
    background-image: url("../images/kid-walking-on-the-rock.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.player-choices-1,
.player-choices-2,  {
    cursor: pointer;
}

textarea {
    resize: none;
}

.player-choices {
    margin-bottom: 0.5rem;
}